<h1>Lang Output</h1>

{{#ifEquals lang "pt"}}
  Olá!
{{/ifEquals}}

{{#ifEquals lang "en"}}
  Hello!
{{/ifEquals}}

{{#ifEquals lang "it"}}
  Ciao!
{{/ifEquals}}

{{#ifEquals lang "de"}}
  Hallo!
{{/ifEquals}}

{{#ifEquals lang "fr"}}
  Sallut!
{{/ifEquals}}