<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <nav>
    <a href="/">Home</a> 
    <a href="/user-info/maxence">User maxence</a> 
    <a href="/user-info/guilherme">User guilherme</a> 
    <a href="/user-info/carla">User carla</a> 
    <a href="/lang">Lang</a> 

    <hr>
  </nav>

  {{{body}}}
</body>

</html>